@using Resources
@inherits BaseWebViewPage<Alicargo.ViewModels.AirWaybill.AirWaybillEditModel>

@helper SelectBrocker()
{
	var name = Html.IdFor(x => x.BrockerId).ToHtmlString();
	var action = MVC.Brocker.Select(name, Model == null
		? (long?) null
		: Model.BrockerId);
	@Html.Action(action)
}

@helper Files()
{
	<hr />
	<h4>
		@Pages.Files
	</h4>
	<div class="row">
		<div class="span4">
			@Html.LabelFor(x => x.PackingFile)
			@Helpers.FileUploader(@Html.IdFor(x => x.PackingFile).ToHtmlString(),
								  Model != null
									  ? Model.PackingFileName
									  : null)
		</div>
		<div class="span4">
			@Html.LabelFor(x => x.InvoiceFile)
			@Helpers.FileUploader(@Html.IdFor(x => x.InvoiceFile).ToHtmlString(),
								  Model != null
									  ? Model.InvoiceFileName
									  : null)
		</div>
		<div class="span4">
			@Html.LabelFor(x => x.AWBFile)
			@Helpers.FileUploader(@Html.IdFor(x => x.AWBFile).ToHtmlString(), Model != null
				? Model.AWBFileName
				: null)
		</div>
	</div>
}

@helper Gtd()
{
	if (Model == null) { return; }
	
	<hr />
	<h4>
		@Entities.GTD
	</h4>
	<div class="row">
		<div class="span4">
			@Html.LabelFor(model => model.GTD)
			@Html.EditorFor(model => model.GTD)
		</div>
		<div class="span4">
			@Html.LabelFor(model => model.GTDFile)
			@Helpers.FileUploader(@Html.IdFor(x => x.GTDFile).ToHtmlString(), Model != null
				? Model.GTDFileName
				: null)
		</div>
		<div class="span4">
			@Html.LabelFor(model => model.GTDAdditionalFile)
			@Helpers.FileUploader(@Html.IdFor(x => x.GTDAdditionalFile).ToHtmlString(), Model != null
				? Model.GTDAdditionalFileName
				: null)
		</div>
	</div>
}

@helper Parameters()
{
	<div class="row">
		<div class="span4">
			@Html.EditorWithLabelFor(model => model.Bill)
			@Html.LabelFor(x => x.BrockerId)
			@SelectBrocker()
		</div>
		<div class="span4">
			@Html.EditorWithLabelFor(model => model.DepartureAirport)
			@Html.LabelFor(model => model.DateOfDepartureLocalString)
			<div class="date-holder">
				@Html.EditorFor(model => model.DateOfDepartureLocalString)
			</div>
		</div>
		<div class="span4">
			@Html.EditorWithLabelFor(model => model.ArrivalAirport)
			@Html.LabelFor(model => model.DateOfArrivalLocalString)
			<div class="date-holder">
				@Html.EditorFor(model => model.DateOfArrivalLocalString)
			</div>
		</div>
		<script>
			$(function() {
				$(".date-holder input").kendoDatePicker();
			})
		</script>
	</div>
	<div class="row">
		<div class="span4">
			@Html.EditorWithLabelFor(model => model.FlightCost)
			@Html.EditorWithLabelFor(model => model.ForwarderCost)
		</div>
		<div class="span4">
			@Html.EditorWithLabelFor(model => model.BrokerCost)
			@Html.EditorWithLabelFor(model => model.CustomCost)
		</div>
		<div class="span4">
			@Html.EditorWithLabelFor(model => model.AdditionalCost)
		</div>
	</div>
}

@Parameters()
@Gtd()
@Files()