@using Alicargo.Core.Resources
@using Alicargo.MvcHelpers.Extensions
@using Resources
# if(DaysInWork != null){ #
<p>
	<span>@Entities.DaysInWork:</span>
	#= DaysInWork #
</p>
# } #
# if(CreationTimestampLocalString != null){ #
<p>
	<span>@Entities.CreationTimestamp:</span>
	#= CreationTimestampLocalString #
</p>
# } #
# if(StateChangeTimestampLocalString != null){ #
<p>
	<span>@Entities.StateChangeTimestamp:</span>
	#= StateChangeTimestampLocalString #
</p>
# } #
# if(MarkName != null){ #
<p>
	<span>@Entities.Mark:</span>
	#= MarkName #
</p>
# } #
# if(Count != null){ #
<p>
	<span>@Entities.Count:</span>
	#= Count #
</p>
# } #
# if(MRN != null){ #
<p>
	<span>@Entities.MRN:</span>
	#= MRN #
</p>
# } #
# if(CountInInvoce != null){ #
<p>
	<span>@Entities.CountInInvoce:</span>
	#= CountInInvoce #
</p>
# } #
# if(Volume != null){ #
<p>
	<span>@Entities.Volume (m3):</span>
	#= Volume #
</p>
# } #
# if(Weight != null){ #
<p>
	<span>@Entities.Weight:</span>
	#= Weight #
</p>
# } #
# if(Characteristic != null){ #
<p>
	<span>@Entities.Characteristic:</span>
	#= Characteristic #
</p>
# } #
# if(AddressLoad != null){ #
<p>
	<span>@Entities.AddressLoad:</span>
	#= AddressLoad #
</p>
# } #
# if(CountryName != null){ #
<p>
	<span>@Entities.Country:</span>
	#= CountryName #
</p>
# } #
# if(WarehouseWorkingTime != null){ #
<p>
	<span>@Entities.WarehouseWorkingTime:</span>
	#= WarehouseWorkingTime #
</p>
# } #
# if(TermsOfDelivery != null){ #
<p>
	<span>@Entities.TermsOfDelivery:</span>
	#= TermsOfDelivery #
</p>
# } #
# if(MethodOfDeliveryLocalString != null){ #
<p>
	<span>@Entities.MethodOfDelivery:</span>
	#= MethodOfDeliveryLocalString #
</p>
# } #
# if(TransitCity != null){ #
<p>
	<span>@Entities.City.EncodeForKendo():</span>
	#: TransitCity #
</p>
# } #
# if(TransitAddress != null){ #
<p>
	<span>@Entities.Address:</span>
	#= TransitAddress #
</p>
# } #
# if(TransitRecipientName != null){ #
<p>
	<span>@Entities.RecipientName:</span>
	#= TransitRecipientName #
</p>
# } #
# if(TransitPhone != null){ #
<p>
	<span>@Entities.Phone:</span>
	#= TransitPhone #
</p>
# } #
# if(TransitWarehouseWorkingTime != null){ #
<p>
	<span>@Entities.WarehouseWorkingTime (@Pages.Transit):</span>
	#= TransitWarehouseWorkingTime #
</p>
# } #
# if(TransitMethodOfTransitString != null){ #
<p>
	<span>@Entities.MethodOfTransit:</span>
	#= TransitMethodOfTransitString #
</p>
# } #
# if(TransitDeliveryTypeString != null){ #
<p>
	<span>@Entities.DeliveryType:</span>
	#= TransitDeliveryTypeString #
</p>
# } #
# if(CarrierName != null){ #
<p>
	<span>@Entities.Carrier:</span>
	#= CarrierName #
</p>
# } #
# if(FactoryName != null){ #
<p>
	<span>@Entities.FactoryName:</span>
	#= FactoryName #
</p>
# } #
# if(FactoryEmail != null){ #
<p>
	<span>@Entities.FactoryEmail:</span>
	#= FactoryEmail #
</p>
# } #
# if(FactoryPhone != null){ #
<p>
	<span>@Entities.FactoryPhone:</span>
	#= FactoryPhone #
</p>
# } #
# if(FactoryContact != null){ #
<p>
	<span>@Entities.FactoryContact:</span>
	#= FactoryContact #
</p>
# } #
# if(FactureCost != null){ #
<p>
	<span>@Entities.FactureCost:</span>
	#= FactureCost #
</p>
# } #
# if(FactureCostEx != null){ #
<p>
	<span>@Entities.FactureCostEx:</span>
	#= FactureCostEx #
</p>
# } #
# if(ScotchCost != null){ #
<p>
	<span>@Entities.ScotchCost:</span>
	#= ScotchCost #
</p>
# } #
# if(TariffPerKg != null){ #
<p>
	<span>@Entities.TariffPerKg:</span>
	#= TariffPerKg #
</p>
# } #
# if(TransitCost != null){ #
<p>
	<span>@Entities.TransitCost:</span>
	#= TransitCost #
</p>
# } #
# if(PickupCost != null){ #
<p>
	<span>@Entities.PickupCost:</span>
	#= PickupCost #
</p>
# } #
# if(InvoiceFiles != null){ #
<p>
	<span>@Entities.Invoice:</span>
	# for(var i in InvoiceFiles) { #
	# var item = InvoiceFiles[i]; #
	# if(!item || !item.Id) continue; #
	<a href="@Url.Action(MVC.ApplicationFiles.Download())/#=item.Id#">#= item.Name #</a>
	# } #
</p>
# } #
# if(SwiftFiles != null){ #
<p>
	<span>@Entities.Swift:</span>
	# for(var i in SwiftFiles) { #
	# var item = SwiftFiles[i]; #
	# if(!item || !item.Id) continue; #
	<a href="@Url.Action(MVC.ApplicationFiles.Download())/#=item.Id#">#= item.Name #</a>
	# } #
</p>
# } #
# if(DeliveryBillFiles != null){ #
<p>
	<span>@Entities.DeliveryBill:</span>
	# for(i in DeliveryBillFiles) { #
	# var item = DeliveryBillFiles[i]; #
	# if(!item || !item.Id) continue; #
	<a href="@Url.Action(MVC.ApplicationFiles.Download())/#=item.Id#">#= item.Name #</a>
	# } #
</p>
# } #
# if(Torg12Files != null){ #
<p>
	<span>@Entities.Torg12:</span>
	# for(i in Torg12Files) { #
	# var item = Torg12Files[i]; #
	# if(!item || !item.Id) continue; #
	<a href="@Url.Action(MVC.ApplicationFiles.Download())/#=item.Id#">#= item.Name #</a>
	# } #
</p>
# } #
# if(T1Files != null){ #
<p>
	<span>@Entities.T1:</span>
	# for(i in T1Files) { #
	# var item = T1Files[i]; #
	# if(!item || !item.Id) continue; #
	<a href="@Url.Action(MVC.ApplicationFiles.Download())/#=item.Id#">#= item.Name #</a>
	# } #
</p>
# } #
# if(Ex1Files != null){ #
<p>
	<span>@Entities.Ex1:</span>
	# for(i in Ex1Files) { #
	# var item = Ex1Files[i]; #
	# if(!item || !item.Id) continue; #
	<a href="@Url.Action(MVC.ApplicationFiles.Download())/#=item.Id#">#= item.Name #</a>
	# } #
</p>
# } #
# if(CPFiles != null){ #
<p>
	<span>@Entities.CP:</span>
	# for(i in CPFiles) { #
	# var item = CPFiles[i]; #
	# if(!item || !item.Id) continue; #
	<a href="@Url.Action(MVC.ApplicationFiles.Download())/#=item.Id#">#= item.Name #</a>
	# } #
</p>
# } #
# if(PackingFiles != null){ #
<p>
	<span>@Entities.Packing:</span>
	# for(i in PackingFiles) { #
	# var item = PackingFiles[i]; #
	# if(!item || !item.Id) continue; #
	<a href="@Url.Action(MVC.ApplicationFiles.Download())/#=item.Id#">#= item.Name #</a>
	# } #
</p>
# } #
# if(OtherFiles != null){ #
<p>
	<span>@Entities.OtherFiles:</span>
	# for(i in OtherFiles) { #
	# var item = OtherFiles[i]; #
	# if(!item || !item.Id) continue; #
	<a href="@Url.Action(MVC.AwbFiles.Download())/#=item.Id#">#= item.Name #</a>
	# } #
</p>
# } #