@using Alicargo.Core.Resources
@using Alicargo.MvcHelpers.Extensions
@using Resources
# if(DaysInWork != null){ #
<p>
	<span>@Html.Raw(Entities.DaysInWork):</span>
	#= DaysInWork #
</p>
# } #
# if(CreationTimestampLocalString != null){ #
<p>
	<span>@Html.Raw(Entities.CreationTimestamp):</span>
	#= CreationTimestampLocalString #
</p>
# } #
# if(StateChangeTimestampLocalString != null){ #
<p>
	<span>@Html.Raw(Entities.StateChangeTimestamp):</span>
	#= StateChangeTimestampLocalString #
</p>
# } #
# if(MarkName != null){ #
<p>
	<span>@Html.Raw(Entities.Mark):</span>
	#= MarkName #
</p>
# } #
# if(Count != null){ #
<p>
	<span>@Html.Raw(Entities.Count):</span>
	#= Count #
</p>
# } #
# if(MRN != null){ #
<p>
	<span>@Html.Raw(Entities.MRN):</span>
	#= MRN #
</p>
# } #
# if(CountInInvoce != null){ #
<p>
	<span>@Html.Raw(Entities.CountInInvoce):</span>
	#= CountInInvoce #
</p>
# } #
# if(DocumentWeight != null){ #
<p>
	<span>@Html.Raw(Entities.DocumentWeight):</span>
	#= DocumentWeight #
</p>
# } #
# if(Volume != null){ #
<p>
	<span>@Html.Raw(Entities.Volume) (m3):</span>
	#= Volume #
</p>
# } #
# if(Weight != null){ #
<p>
	<span>@Html.Raw(Entities.Weight):</span>
	#= Weight #
</p>
# } #
# if(Characteristic != null){ #
<p>
	<span>@Html.Raw(Entities.Characteristic):</span>
	#= Characteristic #
</p>
# } #
# if(AddressLoad != null){ #
<p>
	<span>@Html.Raw(Entities.AddressLoad):</span>
	#= AddressLoad #
</p>
# } #
# if(CountryName != null){ #
<p>
	<span>@Html.Raw(Entities.Country):</span>
	#= CountryName #
</p>
# } #
# if(WarehouseWorkingTime != null){ #
<p>
	<span>@Html.Raw(Entities.WarehouseWorkingTime):</span>
	#= WarehouseWorkingTime #
</p>
# } #
# if(TermsOfDelivery != null){ #
<p>
	<span>@Html.Raw(Entities.TermsOfDelivery):</span>
	#= TermsOfDelivery #
</p>
# } #
# if(MethodOfDeliveryLocalString != null){ #
<p>
	<span>@Html.Raw(Entities.MethodOfDelivery):</span>
	#= MethodOfDeliveryLocalString #
</p>
# } #
# if(TransitCity != null){ #
<p>
	<span>@Html.Raw(Entities.City.EncodeForKendo()):</span>
	#: TransitCity #
</p>
# } #
# if(TransitAddress != null){ #
<p>
	<span>@Html.Raw(Entities.Address):</span>
	#= TransitAddress #
</p>
# } #
# if(TransitRecipientName != null){ #
<p>
	<span>@Html.Raw(Entities.RecipientName):</span>
	#= TransitRecipientName #
</p>
# } #
# if(TransitPhone != null){ #
<p>
	<span>@Html.Raw(Entities.Phone):</span>
	#= TransitPhone #
</p>
# } #
# if(TransitWarehouseWorkingTime != null){ #
<p>
	<span>@Html.Raw(Entities.WarehouseWorkingTime) (@Pages.Transit):</span>
	#= TransitWarehouseWorkingTime #
</p>
# } #
# if(TransitMethodOfTransitString != null){ #
<p>
	<span>@Html.Raw(Entities.MethodOfTransit):</span>
	#= TransitMethodOfTransitString #
</p>
# } #
# if(TransitDeliveryTypeString != null){ #
<p>
	<span>@Html.Raw(Entities.DeliveryType):</span>
	#= TransitDeliveryTypeString #
</p>
# } #
# if(CarrierName != null){ #
<p>
	<span>@Html.Raw(Entities.Carrier):</span>
	#= CarrierName #
</p>
# } #
# if(FactoryName != null){ #
<p>
	<span>@Html.Raw(Entities.FactoryName):</span>
	#= FactoryName #
</p>
# } #
# if(FactoryEmail != null){ #
<p>
	<span>@Html.Raw(Entities.FactoryEmail):</span>
	#= FactoryEmail #
</p>
# } #
# if(FactoryPhone != null){ #
<p>
	<span>@Html.Raw(Entities.FactoryPhone):</span>
	#= FactoryPhone #
</p>
# } #
# if(FactoryContact != null){ #
<p>
	<span>@Html.Raw(Entities.FactoryContact):</span>
	#= FactoryContact #
</p>
# } #
# if(FactureCost != null){ #
<p>
	<span>@Html.Raw(Entities.FactureCost):</span>
	#= FactureCost #
</p>
# } #
# if(FactureCostEx != null){ #
<p>
	<span>@Html.Raw(Entities.FactureCostEx):</span>
	#= FactureCostEx #
</p>
# } #
# if(ScotchCost != null){ #
<p>
	<span>@Html.Raw(Entities.ScotchCost):</span>
	#= ScotchCost #
</p>
# } #
# if(TariffPerKg != null){ #
<p>
	<span>@Html.Raw(Entities.TariffPerKg):</span>
	#= TariffPerKg #
</p>
# } #
# if(TransitCost != null){ #
<p>
	<span>@Html.Raw(Entities.TransitCost):</span>
	#= TransitCost #
</p>
# } #
# if(PickupCost != null){ #
<p>
	<span>@Html.Raw(Entities.PickupCost):</span>
	#= PickupCost #
</p>
# } #
# if(InvoiceFiles != null){ #
<p>
	<span>@Html.Raw(Entities.Invoice):</span>
	# for(var i in InvoiceFiles) { #
	# var item = InvoiceFiles[i]; #
	# if(!item || !item.Id) continue; #
	<a href="@Url.Action(MVC.ApplicationFiles.Download())/#=item.Id#">#= item.Name #</a>
	# } #
</p>
# } #
# if(SwiftFiles != null){ #
<p>
	<span>@Html.Raw(Entities.Swift):</span>
	# for(var i in SwiftFiles) { #
	# var item = SwiftFiles[i]; #
	# if(!item || !item.Id) continue; #
	<a href="@Url.Action(MVC.ApplicationFiles.Download())/#=item.Id#">#= item.Name #</a>
	# } #
</p>
# } #
# if(DeliveryBillFiles != null){ #
<p>
	<span>@Html.Raw(Entities.DeliveryBill):</span>
	# for(i in DeliveryBillFiles) { #
	# var item = DeliveryBillFiles[i]; #
	# if(!item || !item.Id) continue; #
	<a href="@Url.Action(MVC.ApplicationFiles.Download())/#=item.Id#">#= item.Name #</a>
	# } #
</p>
# } #
# if(Torg12Files != null){ #
<p>
	<span>@Html.Raw(Entities.Torg12):</span>
	# for(i in Torg12Files) { #
	# var item = Torg12Files[i]; #
	# if(!item || !item.Id) continue; #
	<a href="@Url.Action(MVC.ApplicationFiles.Download())/#=item.Id#">#= item.Name #</a>
	# } #
</p>
# } #
# if(T1Files != null){ #
<p>
	<span>@Html.Raw(Entities.T1):</span>
	# for(i in T1Files) { #
	# var item = T1Files[i]; #
	# if(!item || !item.Id) continue; #
	<a href="@Url.Action(MVC.ApplicationFiles.Download())/#=item.Id#">#= item.Name #</a>
	# } #
</p>
# } #
# if(Ex1Files != null){ #
<p>
	<span>@Html.Raw(Entities.Ex1):</span>
	# for(i in Ex1Files) { #
	# var item = Ex1Files[i]; #
	# if(!item || !item.Id) continue; #
	<a href="@Url.Action(MVC.ApplicationFiles.Download())/#=item.Id#">#= item.Name #</a>
	# } #
</p>
# } #
# if(CPFiles != null){ #
<p>
	<span>@Html.Raw(Entities.CP):</span>
	# for(i in CPFiles) { #
	# var item = CPFiles[i]; #
	# if(!item || !item.Id) continue; #
	<a href="@Url.Action(MVC.ApplicationFiles.Download())/#=item.Id#">#= item.Name #</a>
	# } #
</p>
# } #
# if(PackingFiles != null){ #
<p>
	<span>@Html.Raw(Entities.Packing):</span>
	# for(i in PackingFiles) { #
	# var item = PackingFiles[i]; #
	# if(!item || !item.Id) continue; #
	<a href="@Url.Action(MVC.ApplicationFiles.Download())/#=item.Id#">#= item.Name #</a>
	# } #
</p>
# } #
# if(OtherFiles != null){ #
<p>
	<span>@Html.Raw(Entities.OtherFiles):</span>
	# for(i in OtherFiles) { #
	# var item = OtherFiles[i]; #
	# if(!item || !item.Id) continue; #
	<a href="@Url.Action(MVC.ApplicationFiles.Download())/#=item.Id#">#= item.Name #</a>
	# } #
</p>
# } #