@using Alicargo.Core.Resources
@using Alicargo.MvcHelpers.Extensions
@using Resources
@inherits BaseWebViewPage<ApplicationIndexModel>

@helper EditButton()
{
	@:# if(StateId != @StateConfig.CargoReceivedStateId){ #
	<a href="@Url.Action(MVC.Transit.Edit())/#= TransitId #" class="btn btn-primary">@Pages.Edit.EncodeForKendo()</a>
	@:# } #
}

@helper CloseButton()
{
	@:# if(CanClose){ #
	<input class="btn btn-success close-application" type="button" value="@Pages.CargoIsReceived.EncodeForKendo()" />
	@:# } #
}

<div class='grid-details'>
	<div class="properties">
		@Html.Partial("ClientDetails")
	</div>
	<hr />
	<div class="grid-details-toolbar">
		<div>
			@CloseButton()
			@EditButton()
			# if(InvoiceFileName != null){ #
				<a class="btn btn-info" href="@Url.Action(MVC.Application.InvoiceFile())/#= Id #">@Entities.Invoice</a>
			# } #
			# if(SwiftFileName != null){ #
				<a class="btn btn-info" href="@Url.Action(MVC.Application.SwiftFile())/#= Id #">@Entities.Swift</a>
			# } #
			# if(DeliveryBillFileName != null){ #
				<a class="btn btn-info" href="@Url.Action(MVC.Application.DeliveryBillFile())/#= Id #">@Entities.DeliveryBill</a>
			# } #
			# if(Torg12FileName != null){ #
				<a class="btn btn-info" href="@Url.Action(MVC.Application.Torg12File())/#= Id #">@Entities.Torg12</a>
			# } #
			# if(CPFileName != null){ #
				<a class="btn btn-info" href="@Url.Action(MVC.Application.CPFile())/#= Id #">@Entities.CP</a>
			# } #
			# if(PackingFileName != null){ #
				<a class="btn btn-info" href="@Url.Action(MVC.Application.PackingFile())/#= Id #">@Entities.Packing</a>
			# } #
		</div>
	</div>
</div>
