@using System.Globalization
@using Resources
@inherits BaseWebViewPage<ApplicationIndexModel>

@helper EditButton()
{
	if (IdentityService.IsInRole(RoleType.Client))
	{
	@:# if(StateId != @StateConfig.CargoReceivedStateId){ #
	<a href="@Url.Action(MVC.Transit.Edit())/#= Transit.Id #" class="btn btn-primary">@Pages.Edit.EncodeForKendo()</a>
	@:# } #
		return;
	}

	if (IdentityService.IsInRole(RoleType.Admin))
	{
	<a href="@Url.Action(MVC.Application.Edit())/#= Id #" class="btn btn-primary">@Pages.Edit</a>
	<button type="button" class="btn btn-danger delete-application">@Pages.Delete</button>
	}

	if (IdentityService.IsInRole(RoleType.Sender))
	{
	<a href="@Url.Action(MVC.Sender.ApplicationEdit())/#= Id #" class="btn btn-primary">@Pages.Edit</a>
	<button type="button" class="btn btn-danger delete-application">@Pages.Delete</button>
	}
}

@helper CloseButton()
{
	if (!IdentityService.IsInRole(RoleType.Client) && !IdentityService.IsInRole(RoleType.Admin)) { return; }
	
	@:# if(CanClose){ #
	<input class="btn btn-success close-application" type="button" value="@Pages.CargoIsReceived.EncodeForKendo()" />
	@:# } #
}

@helper SelectAirWaybill()
{
	if (!IdentityService.IsInRole(RoleType.Sender) && !IdentityService.IsInRole(RoleType.Admin)) { return; }
	if (Model.AirWaybills == null || !Model.AirWaybills.Any()) { return; }
	@:&nbsp;
	@Html.LabelFor(x => x.AirWaybills)
	@:&nbsp;
	var list = Model.AirWaybills.Select(x => new SelectListItem
	{
		Text = x.Value,
		Value = x.Key.ToString(CultureInfo.InvariantCulture)
	}).ToList();
	list.Insert(0, new SelectListItem { Text = "", Value = "" });
	@Html.DropDownListFor(x => x.AirWaybills, list, new { @class = "AirWaybill-select" })
}

@helper AirWaybillButton()
{
	if (!IdentityService.IsInRole(RoleType.Sender) && !IdentityService.IsInRole(RoleType.Admin)) { return; }
	
	<a class="btn btn-inverse" href="@Url.Action(MVC.AirWaybill.Create())/#= Id #">@Pages.AirWaybillAdd</a>
}

<div class='grid-details'>
	<div class="properties">
		@(IdentityService.IsInRole(RoleType.Sender) ? Html.Partial("SenderDetails") : Html.Partial("AdminDetails"))
	</div>
	@if (!IdentityService.IsInRole(RoleType.Forwarder))
 {
		<hr />
		<div class="grid-details-toolbar">
			<div>
				@CloseButton()
				@EditButton()
				<span class="AirWaybill-holder">
					@SelectAirWaybill()
					@AirWaybillButton()
				</span>
			</div>
		</div>
 }
</div>
