@model ApplicationIndexModel

<style>
	.container {
		width: auto;
		padding: 0 20px;
	}
</style>

@Html.Partial("Tools")
<div id="application-grid" class="grid"></div>
<script type="text/x-kendo-template" id="application-grid-details">@Html.Partial("DetailsTemplate")</script>

@section scripts
{
	@Scripts.Render(Url.Action(MVC.DynamicScript.Roles()))
	@Scripts.Render(Url.Action(MVC.DynamicScript.Localization()))
	@Scripts.Render(Url.Action(MVC.DynamicScript.States()))
	@Scripts.Render(Url.Action(MVC.DynamicScript.Urls()))
	@Scripts.Render("~/Scripts/app/Alicargo.js")
	@Scripts.Render("~/Scripts/app/Application/Columns.js")
	@Scripts.Render("~/Scripts/app/Application/Grid.js")
}