@using Alicargo.Contracts.Enums
@using Alicargo.MvcHelpers.Extensions
@using Resources
@inherits BaseWebViewPage<ApplicationIndexModel>

@helper EditButton()
{
	<a href="@Url.Action(MVC.Sender.ApplicationEdit())/#= Id #" class="btn btn-primary">@Pages.Edit</a>
	<button type="button" class="btn btn-danger delete-application">@Pages.Delete</button>
}

@helper SelectAirWaybill()
{
	if (Model.AirWaybills == null || !Model.AirWaybills.Any()) { return; }
	@:&nbsp;
	@Html.LabelFor(x => x.AirWaybills)
	@:&nbsp;
	@Html.DropDownListFor(x => x.AirWaybills, Model.AirWaybills, "", new { @class = "AirWaybill-select" })
}

@helper AirWaybillButton()
{
	<a class="btn btn-inverse" href="@Url.Action(MVC.SenderAwb.Create())/#= Id #">@Pages.AirWaybillAdd</a>
}

<div class='grid-details'>

	<div class="properties">
		@Html.Partial("SenderDetails")

	</div>
	<hr />
	<div class="grid-details-toolbar">
		<div>
			@EditButton()
			<span class="AirWaybill-holder">
				@SelectAirWaybill()
				@AirWaybillButton()
			</span>
		</div>
	</div>
</div>
