@using System.Globalization
@model StateModel

<div class="row">
	<div class="span4">
		@Html.LabelFor(x => x.Name)
		@Html.EditorFor(x => x.Name)
		@Html.LabelFor(x => x.RussianName)
		@Html.EditorFor(x => x.RussianName)
	</div>
	<div class="span4">
		@Html.LabelFor(x => x.NextId)
		@Html.DropDownListFor(x => x.NextId, Model.States.Select(x => new SelectListItem
		{
			Text = x.Value,
			Value = x.Key.ToString(CultureInfo.InvariantCulture)
		}))
		@Html.LabelFor(x => x.ItalianName)
		@Html.EditorFor(x => x.ItalianName)
	</div>
	<div class="span4">
	</div>
</div>

