@using System.Web.Mvc.Html
@using Alicargo.MvcHelpers.Extensions
@model TransitEditModel

<div class="row">
	<div class="span8">
		@Html.EditorWithLabelFor(model => model.City)
		@Html.EditorWithLabelFor(model => model.Address)
		@Html.EditorWithLabelFor(model => model.RecipientName)
		@Html.EditorWithLabelFor(model => model.Phone)
		@Html.EditorWithLabelFor(model => model.WarehouseWorkingTime)
	</div>
	<div class="span4">
		@Html.Action(MVC.Carrier.Select((long?)ViewBag.TransitId))
		@Html.LabelFor(model => model.MethodOfTransit)
		@Html.DropDownListForEnum(model => model.MethodOfTransit)
		@Html.LabelFor(model => model.DeliveryType)
		@Html.DropDownListForEnum(model => model.DeliveryType)
	</div>
</div>
