@using Resources
@inherits BaseWebViewPage
<style>
	.container {
		padding: 0 20px;
		width: auto;
	}
</style>
<div id="calculation-grid" class="grid"></div>

@section scripts
{
	<script type="text/x-kendo-template" id="calculation-grid-details-template">
        <div class="calculation-rows"></div>
        <div class='calculation-details'>
            # if(CostPerKgOfSender != null){ #
			<p>
				<span>@Entities.CostPerKgOfSender:</span>
				#= CostPerKgOfSender #
			</p>
			# } #
			# if(TotalCostOfSenderForWeight != null){ #
			<p>
				<span>@Entities.TotalCostOfSenderForWeight:</span>
				#= TotalCostOfSenderForWeight #
			</p>
			# } #
			# if(TotalOfSender != null){ #
			<p>
				<span>@Entities.TotalOfSender:</span>
				#= TotalOfSender #
			</p>
			# } #
        </div>
	</script>
	@Scripts.Render(Url.Action(MVC.DynamicScript.Roles()))
	@Scripts.Render(Url.Action(MVC.DynamicScript.Localization()))
	@Scripts.Render(Url.Action(MVC.DynamicScript.Urls()))

	@Scripts.Render("~/Scripts/app/Alicargo.js")
	@Scripts.Render("~/scripts/app/calculation/Details.js")
	@Scripts.Render("~/scripts/app/calculation/Grid.js")
}