@inherits BaseWebViewPage
<style>
	.container {
		padding: 0 20px;
		width: auto;
	}
</style>
<div id="calculation-grid" class="grid"></div>

@section scripts
{
	<script type="text/x-kendo-template" id="calculation-grid-details-template">
        <div class="calculation-rows"></div>		
        @Html.Partial("Details")
	</script>
	@Scripts.Render(Url.Action(MVC.DynamicScript.Roles()))
	@Scripts.Render(Url.Action(MVC.DynamicScript.Localization()))
	@Scripts.Render(Url.Action(MVC.DynamicScript.Urls()))

	@Scripts.Render("~/Scripts/app/Alicargo.js")
	@Scripts.Render("~/scripts/app/calculation/Details.js")
	@Scripts.Render("~/scripts/app/calculation/Grid.js")
}