@using System.Globalization
@model CarrierSelectModel

@helper Select()
{
	var all = (IDictionary<long, string>)ViewBag.Carriers;
	var list = all.Select(x => new SelectListItem
	{
		Text = x.Value,
		Value = x.Key.ToString(CultureInfo.InvariantCulture)
	}).ToList();
	@Html.DropDownListFor(x => x.CarrierId, list)
}

<div id="carrier-tabs">
	<ul>
		<li>
			<a href="#select-carrier">
				@Html.LabelFor(model => model.CarrierId)
			</a>
		</li>
		<li>
			<a href="#new-carrier">
				@Html.LabelFor(model => model.NewCarrierName)
			</a>
		</li>
	</ul>
	<div id="select-carrier">
		@Select()
	</div>
	<div id="new-carrier">
		@Html.EditorFor(x => x.NewCarrierName)
	</div>
	<script>
		$(function () {
			var newCarrier = $("#@Html.IdFor(x => x.NewCarrierName)");
			$("#carrier-tabs").tabs({
				activate: function (event, ui) {
					newCarrier.val('');
					if (ui.newPanel.is("#new-carrier")) {
						newCarrier.attr("required", "required");
					} else {
						newCarrier.removeAttr("required");
					}
				}
			});
		});
	</script>
</div>
