@using Alicargo.Core.Resources
@inherits BaseWebViewPage<Dictionary<long, string>>

<div class='grid-details'>
	<div class="properties">
		# if(InvoiceFileName != null){ #
		<p>
			<span>@Entities.Invoice:</span>
			<a href="@Url.Action(MVC.AwbFile.Invoice())/#= Id #">#= InvoiceFileName #</a>
		</p>
		# } #
		# if(GTDFileName != null){ #
		<p>
			<span>@Entities.GTD:</span>
			<a href="@Url.Action(MVC.AwbFile.GTD())/#= Id #">#= GTDFileName #</a>
		</p>
		# } #
		# if(GTDAdditionalFileName != null){ #
		<p>
			<span>@Entities.GTDAdditional:</span>
			<a href="@Url.Action(MVC.AwbFile.GTDAdditional())/#= Id #">#= GTDAdditionalFileName #</a>
		</p>
		# } #
		# if(PackingFileName != null){ #
		<p>
			<span>@Entities.Packing:</span>
			<a href="@Url.Action(MVC.AwbFile.Packing())/#= Id #">#= PackingFileName #</a>
		</p>
		# } #
		# if(AWBFileName != null){ #
		<p>
			<span>@Entities.AWB:</span>
			<a href="@Url.Action(MVC.AwbFile.AWB())/#= Id #">#= AWBFileName #</a>
		</p>
		# } #
		# if(DrawFileName != null){ #
		<p>
			<span>@Entities.Draw:</span>
			<a href="@Url.Action(MVC.AwbFile.Draw())/#= Id #">#= DrawFileName #</a>
		</p>
		# } #
	</div>
</div>
