@using Alicargo.Contracts.Enums
@inherits BaseWebViewPage
<style>
	.container {
		padding: 0 20px;
		width: auto;
	}
</style>
<div id="AirWaybill-grid" class="grid"></div>

@section scripts
{
	<script type="text/x-kendo-template" id="AirWaybill-grid-details">
		@if (IdentityService.IsInRole(RoleType.Broker))
		{
			@Html.Partial("BrokerDetails")
		}
		else if (IdentityService.IsInRole(RoleType.Sender))
		{
			@Html.Partial("SenderDetails")
		}
		else
		{
			@Html.Partial("AdminDetails")
		}
	</script>
	@Scripts.Render(Url.Action(MVC.DynamicScript.Roles()))
	@Scripts.Render(Url.Action(MVC.DynamicScript.Localization()))
	@Scripts.Render(Url.Action(MVC.DynamicScript.Urls()))
	@Scripts.Render("~/Scripts/app/Alicargo.js")
	@Scripts.Render("~/Scripts/app/AirWaybill/Columns.js")
	@Scripts.Render("~/Scripts/app/AirWaybill/Grid.js")
}