<style>
	.container {
		padding: 0 20px;
		width: auto;
	}
</style>
<div id="AirWaybill-grid" class="grid"></div>

@section scripts
{
	<script type="text/x-kendo-template" id="AirWaybill-grid-details">@Html.Partial("DetailsTemplate")</script>
	@Scripts.Render(Url.Action(MVC.DynamicScript.Roles()))
	@Scripts.Render(Url.Action(MVC.DynamicScript.Localization()))
	@Scripts.Render(Url.Action(MVC.DynamicScript.Urls()))
	@Scripts.Render("~/Scripts/app/AirWaybill/Columns.js")
	@Scripts.Render("~/Scripts/app/AirWaybill/Grid.js")
}