@using Alicargo.Core.Resources
@using Alicargo.MvcHelpers.Extensions
@using Resources
@model ApplicationAdminModel
<div class="container-edit">
	<h1>
		@Pages.ApplicationEdit @ViewBag.ApplicationNumber
		<span>@Entities.Nic: @Html.ViewBag.ClientNic</span>
	</h1>
	@Html.EditPage(Url.Action(MVC.Application.Edit()), Pages.Update,
	Html.ActionLink(Pages.Files, MVC.ApplicationFiles.AdminApplication((long)ViewBag.ApplicationId), new { @class = "btn btn-info" }))
</div>