@using Alicargo.Core.Resources
@using Alicargo.Mvc
@using Alicargo.MvcHelpers.Extensions
@using Resources
@model ApplicationAdminModel
<div class="container-edit">
	<h1>
		@Pages.ApplicationEdit @ViewBag.ApplicationNumber
		<span>@Entities.Nic: @Html.ViewBag.ClientNic</span>
	</h1>
	@Html.EditPage(Url.Action(MVC.Application.Edit()), Pages.Update)
	<hr />
	@Html.Action(MVC.ApplicationFiles.Admin((long)ViewBag.ApplicationId))
</div>
@section scripts
{
	@Scripts.Render(JsPaths.ApplicationFilesJs)
}