@using Alicargo.MvcHelpers.Extensions
@model ApplicationSenderModel

<div class="row">
	<div class="span4">
		@Html.EditorWithLabelFor(model => model.FactoryName)
		@Html.EditorWithLabelFor(model => model.MarkName)
		@Html.EditorWithLabelFor(model => model.Invoice)
		@Html.EditorWithLabelFor(model => model.Currency)
	</div>
	<div class="span4">
		@Html.EditorWithLabelFor(model => model.Weigth)
		@Html.EditorWithLabelFor(model => model.Count)
		@Html.LabelFor(x => x.CountryId)
		@Html.DropDownListFor(x => x.CountryId, (IDictionary<long, string>)ViewBag.Countries)
	</div>
	<div class="span4">
		@Html.EditorWithLabelFor(model => model.FactureCost)
		@Html.EditorWithLabelFor(model => model.WithdrawCost)
		@Html.EditorWithLabelFor(model => model.Volume)
	</div>
</div>
<div class="row">
	<div class="span4">
		@Html.LabelFor(model => model.InvoiceFile)
		@Helpers.FileUploader(Html.IdFor(x => x.InvoiceFile).ToHtmlString(), Model.InvoiceFileName)
	</div>
	<div class="span4">
		@Html.LabelFor(model => model.SwiftFile)
		@Helpers.FileUploader(Html.IdFor(x => x.SwiftFile).ToHtmlString(), Model.SwiftFileName)
	</div>
	<div class="span4">
		@Html.LabelFor(model => model.PackingFile)
		@Helpers.FileUploader(Html.IdFor(x => x.PackingFile).ToHtmlString(), Model.PackingFileName)
	</div>
</div>