@using Alicargo.MvcHelpers.Extensions
@model Alicargo.ViewModels.AirWaybill.AwbBrokerModel
<div class="row">
	<div class="span4">
		@Html.EditorWithLabelFor(model => model.GTD)
	</div>
	<div class="span4">
		@Html.EditorWithLabelFor(model => model.BrokerCost)
	</div>
	<div class="span4">
		@Html.EditorWithLabelFor(model => model.CustomCost)
	</div>
</div>
<div class="row">
	<div class="span2">
		@Html.LabelFor(model => model.GTDFile)
		@Helpers.FileUploader(@Html.IdFor(x => x.GTDFile).ToHtmlString(), Model != null
			? Model.GTDFileName
			: null)
	</div>
	<div class="span2">
		@Html.LabelFor(model => model.GTDAdditionalFile)
		@Helpers.FileUploader(@Html.IdFor(x => x.GTDAdditionalFile).ToHtmlString(), Model != null
			? Model.GTDAdditionalFileName
			: null)
	</div>
	<div class="span2">
		@Html.LabelFor(x => x.InvoiceFile)
		@Helpers.FileUploader(@Html.IdFor(x => x.InvoiceFile).ToHtmlString(), Model != null
			? Model.InvoiceFileName
			: null)
	</div>
	<div class="span2">
		@Html.LabelFor(x => x.PackingFile)
		@Helpers.FileUploader(@Html.IdFor(x => x.PackingFile).ToHtmlString(), Model != null
			? Model.PackingFileName
			: null)
	</div>
	<div class="span2">
		@Html.LabelFor(model => model.DrawFile)
		@Helpers.FileUploader(@Html.IdFor(x => x.DrawFile).ToHtmlString(), Model != null
			? Model.DrawFileName
			: null)
	</div>
</div>