@using Alicargo.MvcHelpers.Extensions
@using Resources
@model Alicargo.ViewModels.User.ClientModel

<div class="row">
	<div class="span8">
		@Html.EditorWithLabelFor(model => model.LegalEntity)
	</div>
	<div class="span4">
		@Html.EditorWithLabelFor(model => model.Nic)
	</div>
</div>
<div class="row">
	<div class="span4">
		@Html.EditorWithLabelFor(model => model.INN)
	</div>
	<div class="span4">
		@Html.EditorWithLabelFor(model => model.LegalAddress)
	</div>
	<div class="span4">
		@Html.EditorWithLabelFor(model => model.MailingAddress)
	</div>
</div>
<div class="row">
	<div class="span4">
		@Html.EditorWithLabelFor(model => model.OGRN)
	</div>
	<div class="span4">
		@Html.EditorWithLabelFor(model => model.Bank)
	</div>
	<div class="span4">
		@Html.EditorWithLabelFor(model => model.BIC)
	</div>
</div>
<div class="row">
	<div class="span4">
		@Html.EditorWithLabelFor(model => model.KPP)
	</div>
	<div class="span4">
		@Html.EditorWithLabelFor(model => model.RS)
	</div>
	<div class="span4">
		@Html.EditorWithLabelFor(model => model.KS)
	</div>
</div>
<div class="row">
	<div class="span8">
		@Html.LabelFor(model => model.Contacts)
		@Html.TextAreaFor(model => model.Contacts)
		@Html.LabelFor(model => model.ContractFile)
		@Helpers.FileUploader(
			Html.IdFor(x => x.ContractFile).ToHtmlString(),
			Model == null
				? null
				: Model.ContractFileName,
			Model != null && Model.ContractFileName != null
				? @Url.Action(MVC.Client.Contract((long?)ViewBag.ClientId))
				: null)
	</div>
	<div class="span4">
		@Html.EditorWithLabelFor(model => model.Email)
		@Html.EditorWithLabelFor(model => model.Phone)
	</div>
</div>
<hr />
<h4>
	@Pages.Transit
</h4>
@Html.Action(MVC.Transit.EditByClient((long?)ViewBag.ClientId))
<hr />
<h4>
	@Pages.Authentication
</h4>
@Html.Action(MVC.Authentication.Client((long?)ViewBag.ClientId))