@using Alicargo.Mvc
@using Alicargo.MvcHelpers.Extensions
@using Resources
@model Alicargo.ViewModels.AirWaybill.AwbAdminModel
<div class="container-edit">
	<h1>
		@Pages.AirWaybillEdit
	</h1>
	@Html.EditPage(Url.Action(MVC.AdminAwb.Edit()), Pages.Save,
		@Html.Action(MVC.AirWaybill.CargoIsCustomsClearedButton((long)ViewBag.AwbId)))
	<hr />
	@Html.Action(MVC.AwbFiles.Admin((long)ViewBag.AwbId))
</div>
@section scripts
{
	@Scripts.Render(JsPaths.AwbFilesJs)
}