@using Alicargo.Core.Resources
@using Alicargo.Mvc
@using Alicargo.MvcHelpers.Extensions
@using Resources
@model ApplicationSenderModel
<div class="container-edit">
	<h1>
		@Pages.ApplicationEdit @ViewBag.ApplicationNumber
		<span>@Entities.Nic: @ViewBag.Nic</span>
	</h1>
	@Html.EditPage(Url.Action(MVC.SenderApplication.Edit()), Pages.Save)
	<hr />
	@Html.Action(MVC.ApplicationFiles.Sender((long)ViewBag.ApplicationId))
</div>
@section scripts
{
	@Scripts.Render(JsPaths.ApplicationFilesJs)
}