@model Alicargo.Areas.Admin.Models.BillSettingsModel

<div class="bill-settings">
	@Html.HiddenFor(x => x.Version)
	<div class="row">
		<div class="span12">
			@Html.LabelFor(x => x.Settings.HeaderText, "Текст в начале:")
			@Html.TextAreaFor(x => x.Settings.HeaderText, new { rows = 3 })
		</div>
	</div>
	@Html.Partial("BankDetails", Model.Settings)
	<div class="other-details">
		<div class="row">
			<div class="span8">
				@Html.LabelFor(x => x.Settings.Shipper, "Поставщик:")
				@Html.TextAreaFor(x => x.Settings.Shipper)
			</div>
			<div class="span4">
				@Html.LabelFor(x => x.Settings.Head, "Руководитель:")
				@Html.EditorFor(x => x.Settings.Head)
				@Html.LabelFor(x => x.Settings.Accountant, "Бухгалтер:")
				@Html.EditorFor(x => x.Settings.Accountant)
			</div>
		</div>
	</div>
</div>
