@using Alicargo.DataAccess.Contracts.Enums
@using Alicargo.Mvc
@{
	Layout = "~/Views/Shared/_PopupLayout.cshtml";
}
<div class="container-edit">
	<h1>
		@ViewBag.Awb
	</h1>
	<div class="row">
		<div class="span3">
			@Html.Partial("FilesHolder", AwbFileType.Packing)
		</div>
		<div class="span3">
			@Html.Partial("FilesHolder", AwbFileType.Draw)
		</div>
		<div class="span3">
			@Html.Partial("FilesHolder", AwbFileType.Other)
		</div>
	</div>
	@section scripts
	{
		@Scripts.Render(JsPaths.AwbFilesJs)
	}
</div>