@using Alicargo.Core.Resources
@using Alicargo.MvcHelpers.BundleHelpres
@using Resources
@inherits BaseWebViewPage
<style>
	.container {
		padding: 0 20px;
		width: auto;
	}
</style>
<p>
	@Html.ActionLink(Pages.Excel, MVC.ClientCalculation.Excel(), new { @class = "btn btn-info" })
	@Entities.Balance: @ViewBag.Balance.ToString("N2")
	@Html.ActionLink(Pages.History, MVC.ClientCalculation.History((long)ViewBag.ClientId))
</p>
<div id="calculation-grid" class="grid"></div>

@section scripts
{
	@Scripts.Render(JsPaths.ClientCalculationJs)
}