@using Alicargo.Core.Localization
@using Alicargo.MvcHelpers.BundleHelpres
@using Alicargo.MvcHelpers.Extensions
@using Resources
@model Alicargo.ViewModels.EmailTemplate.EventTemplateModel
<p>
	@Html.ActionLink(Pages.Help, MVC.EmailTemplate.Help(), new { @class = "pull-right", target = "balnk" })
	<b>
		@Pages.Event - @Model.EventType.ToLocalString()
	</b>
</p>
@Html.EditPage(Url.Action(MVC.EmailTemplate.Edit()), Pages.Save)
@section scripts
{
	@Scripts.Render(JsPaths.TemplateEditJs)
}