@using Alicargo.Contracts.Resources
@using Alicargo.MvcHelpers.Extensions
@model ApplicationDetailsModel

<div class="row">
	<div class="span4">
		@Html.DisplayWithLabelFor(model => model.FactoryName)
		@Html.DisplayWithLabelFor(model => model.FactoryPhone)

	</div>
	<div class="span4">
		@Html.LabelFor(model => model.FactoryContact)
		<div>
			@Html.TextAreaFor(model => model.FactoryContact, new { @readonly = "readonly" })
		</div>
	</div>
	<div class="span4">
		@Html.DisplayWithLabelFor(model => model.FactoryEmail)
		@Html.DisplayWithLabelFor(model => model.MarkName)
	</div>
</div>
<div class="row">
	<div class="span4">
		@Html.DisplayWithLabelFor(model => model.Invoice)
	</div>
	<div class="span8">
		@Html.DisplayWithLabelFor(model => model.Characteristic)
	</div>
</div>
<div class="row">
	<div class="span4">
		@Html.DisplayWithLabelFor(model => model.Weight)
	</div>
	<div class="span4">
		@Html.DisplayWithLabelFor(model => model.AddressLoad)
	</div>
	<div class="span4">
		@Html.DisplayWithLabelFor(model => model.DateOfCargoReceiptLocalString)
	</div>
</div>
<div class="row">
	<div class="span4">
		@Html.DisplayWithLabelFor(model => model.Count)
		<label for="@Html.IdFor(x => x.Volume)">@Entities.Volume (m<span class="super">3</span> )</label>
		@Html.DisplayFor(model => model.Volume)
	</div>
	<div class="span4">
		@Html.DisplayWithLabelFor(model => model.TermsOfDelivery)
		@Html.DisplayWithLabelFor(model => model.MethodOfDeliveryLocalString)
	</div>
	<div class="span4">
		@Html.DisplayWithLabelFor(model => model.WarehouseWorkingTime)
		@Html.DisplayWithLabelFor(model => model.ValueString)
	</div>
</div>