@using Alicargo.Core.Resources
@using Alicargo.Mvc
@using Alicargo.MvcHelpers.Extensions
@using Resources
@model Alicargo.ViewModels.AirWaybill.AwbBrokerModel
<div class="container-edit">
	<h3>
		@Entities.AWB:
		@ViewBag.AWB
	</h3>
	@Html.EditPage(Url.Action(MVC.BrokerAwb.Edit()), Pages.Save,
		@Html.Partial("EditButtons", (long)ViewBag.AwbId))
</div>
@section scripts
{
	@Scripts.Render(JsPaths.AwbFileButtonJs)
}