@using Alicargo.MvcHelpers.Extensions
@model TransitEditModel
<div class="row">
	<div class="span3">
		@Html.LabelFor(x => x.CityId)
		@Html.DropDownListFor(x => x.CityId, (IDictionary<long, string>)ViewBag.Cities)
		@Html.EditorWithLabelFor(model => model.Address)
	</div>
	<div class="span3">
		@Html.EditorWithLabelFor(model => model.RecipientName)
		@Html.EditorWithLabelFor(model => model.Phone)
	</div>
	<div class="span3">
		@Html.LabelFor(model => model.MethodOfTransit)
		@Html.DropDownListForEnum(model => model.MethodOfTransit)
		@Html.LabelFor(model => model.DeliveryType)
		@Html.DropDownListForEnum(model => model.DeliveryType)		
	</div>
	<div class="span3">
		@Html.EditorWithLabelFor(model => model.WarehouseWorkingTime)
	</div>
</div>