@using Alicargo.MvcHelpers.Extensions
@inherits BaseWebViewPage<Alicargo.ViewModels.AirWaybill.AwbSenderModel>

@helper Files()
{
	<div class="row">
		<div class="span6">
			@Html.LabelFor(x => x.PackingFile)
			@Helpers.FileUploader(@Html.IdFor(x => x.PackingFile).ToHtmlString(),
				Model != null ? Model.PackingFileName : null)
		</div>
		<div class="span6">
			@Html.LabelFor(x => x.AWBFile)
			@Helpers.FileUploader(@Html.IdFor(x => x.AWBFile).ToHtmlString(), Model != null ? Model.AWBFileName : null)
		</div>
	</div>
}

@helper Parameters()
{
	<div class="row">
		<div class="span3">
			@Html.EditorWithLabelFor(model => model.Bill)
			@Html.LabelFor(x => x.BrokerId)
			@Html.DropDownListFor(x => x.BrokerId, (IDictionary<long?, string>)ViewBag.Brokers, "")
		</div>
		<div class="span3">
			@Html.EditorWithLabelFor(model => model.DepartureAirport)
			@Html.LabelFor(model => model.DateOfDepartureLocalString)
			<div class="date-holder">
				@Html.EditorFor(model => model.DateOfDepartureLocalString)
			</div>
		</div>
		<div class="span3">
			@Html.EditorWithLabelFor(model => model.ArrivalAirport)
			@Html.LabelFor(model => model.DateOfArrivalLocalString)
			<div class="date-holder">
				@Html.EditorFor(model => model.DateOfArrivalLocalString)
			</div>
		</div>
		<div class="span3">
			@Html.EditorWithLabelFor(model => model.FlightCost)
			@Html.EditorWithLabelFor(model => model.TotalCostOfSenderForWeight)
		</div>
		<script>
			$(function() {
				$(".date-holder input").kendoDatePicker();
			})
		</script>
	</div>
}
@Parameters()
@Files()