@using Resources
@inherits BaseWebViewPage<Alicargo.ViewModels.AirWaybill.SenderAwbModel>

@helper SelectBroker()
{
	var name = Html.IdFor(x => x.BrokerId).ToHtmlString();
	var action = MVC.Broker.Select(name, Model == null ? (long?)null : Model.BrokerId);
	@Html.Action(action)
}

@helper Files()
{
	<hr />
	<h4>
		@Pages.Files
	</h4>
	<div class="row">
		<div class="span4">
			@Html.LabelFor(x => x.PackingFile)
			@Helpers.FileUploader(@Html.IdFor(x => x.PackingFile).ToHtmlString(),
					Model != null ? Model.PackingFileName : null)
		</div>
		<div class="span4">
			@Html.LabelFor(x => x.AWBFile)
			@Helpers.FileUploader(@Html.IdFor(x => x.AWBFile).ToHtmlString(), Model != null ? Model.AWBFileName : null)
		</div>
	</div>
}

@helper Parameters()
{
	<div class="row">
		<div class="span4">
			@Html.EditorWithLabelFor(model => model.Bill)
			@Html.LabelFor(x => x.BrokerId)
			@SelectBroker()
			@Html.EditorWithLabelFor(model => model.FlightCost)
		</div>
		<div class="span4">
			@Html.EditorWithLabelFor(model => model.DepartureAirport)
			@Html.LabelFor(model => model.DateOfDepartureLocalString)
			<div class="date-holder">
				@Html.EditorFor(model => model.DateOfDepartureLocalString)
			</div>
		</div>
		<div class="span4">
			@Html.EditorWithLabelFor(model => model.ArrivalAirport)
			@Html.LabelFor(model => model.DateOfArrivalLocalString)
			<div class="date-holder">
				@Html.EditorFor(model => model.DateOfArrivalLocalString)
			</div>
		</div>
		<script>
			$(function () {
				$(".date-holder input").kendoDatePicker();
			})
		</script>
	</div>
}

@Parameters()
@Files()