@using Alicargo.App_Start.Mvc
@using Alicargo.DataAccess.Contracts.Enums
@using Resources

<h1>
	@Pages.Application @ViewBag.ApplicationId
</h1>
<div class="row">
	<div class="span4">
		@Html.Partial("FilesHolder", ApplicationFileType.Invoice)
	</div>
	<div class="span4">
		@Html.Partial("FilesHolder", ApplicationFileType.CP)
	</div>
	<div class="span4">
		@Html.Partial("FilesHolder", ApplicationFileType.DeliveryBill)
	</div>
</div>
<br />
<div class="row">
	<div class="span4">
		@Html.Partial("FilesHolder", ApplicationFileType.Packing)
	</div>
	<div class="span4">
		@Html.Partial("FilesHolder", ApplicationFileType.Swift)
	</div>
	<div class="span4">
		@Html.Partial("FilesHolder", ApplicationFileType.Torg12)
	</div>
</div>
<p>
	<a href="@Url.Action(MVC.Application.Edit((long) ViewBag.ApplicationId))" class="btn btn-primary">@Pages.ApplicationEdit</a>
</p>

@section scripts
{
	@Scripts.Render(JsPaths.FilesJs)
}