@using Alicargo.Contracts.Enums

<div class="row">
	<div class="span4">
		@Html.Partial("FilesHolder", ApplicationFileType.Invoice)
	</div>
	<div class="span4">
		@Html.Partial("FilesHolder", ApplicationFileType.CP)
	</div>
	<div class="span4">
		@Html.Partial("FilesHolder", ApplicationFileType.DeliveryBill)
	</div>
</div>
<br />
<div class="row">
	<div class="span4">
		@Html.Partial("FilesHolder", ApplicationFileType.Packing)
	</div>
	<div class="span4">
		@Html.Partial("FilesHolder", ApplicationFileType.Swift)
	</div>
	<div class="span4">
		@Html.Partial("FilesHolder", ApplicationFileType.Torg12)
	</div>
</div>

@section scripts
{
	@Scripts.Render(PathConstants.FilesJs)
}