@using Resources
@model Alicargo.ViewModels.User.SignIdModel

@using (Html.BeginForm(MVC.Authentication.Login(), FormMethod.Post, new { @class = "form-signin" }))
{
	<h2 class="form-signin-heading">@Pages.Authentication</h2>
	@Html.TextBoxFor(x => x.Login, new { @class = "input-block-level", placeholder = Pages.Login })
	@Html.PasswordFor(x => x.Password, new { @class = "input-block-level", placeholder = Pages.Password })
	<label class="checkbox">
		<span class="pull-right">
			@Html.ActionLink(Pages.RestorePassword, MVC.Authentication.RestorePassword())
		</span>
		@Html.CheckBoxFor(x => x.RememberMe)@Pages.RememberMe
	</label>
	@Html.ValidationSummary(true)
	<div class="text-center">
		<button class="btn btn-large btn-primary" type="submit">@Pages.SignIn</button>
	</div>
}