@using Alicargo.MvcHelpers.Extensions
@using Resources
@model ApplicationSenderModel

<h1>
	@Pages.ApplicationEdit @ViewBag.ApplicationNumber
	<span class="pull-right">@Entities.Nic: @ViewBag.Nic</span>
</h1>
@Html.EditPage(Url.Action(MVC.Sender.ApplicationEdit()), Pages.Save)