@using Alicargo.App_Start
@using Alicargo.Core.Localization
@using Scripts = System.Web.Optimization.Scripts
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Alicargo</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	@Styles.Render(BootstrapBundleConfig.StylesPath)
	@Scripts.Render(BootstrapBundleConfig.ScriptsPath)
	@switch (UICulture)
 {
	 case TwoLetterISOLanguageName.Russian:
		@Scripts.Render(BootstrapBundleConfig.ScriptsPathRu)
		 break;
	 case TwoLetterISOLanguageName.Italian:
		@Scripts.Render(BootstrapBundleConfig.ScriptsPathIt)
		 break;
 }
</head>
<body>
	<div id="wrap">
		@Html.Partial("Memu")
		<div class="container">
			<div class="wrap-padding">&nbsp;</div>
			@RenderBody()
		</div>
		<div class="wrap-padding">&nbsp;</div>
	</div>
	<footer>
		<div class="container">
			<p class="muted credit">
				&copy; Alicargo
                @Html.ActionLink(@Resources.Pages.SignIn, MVC.User.Login())
			</p>
		</div>
	</footer>
	@RenderSection("scripts", false)
</body>
</html>


