@using Alicargo.DataAccess.Contracts.Enums
@using Alicargo.MvcHelpers.BundleHelpres
@using Resources
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Alicargo</title>
		<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		@Styles.Render(CssPaths.Common)
		@Scripts.Render(JsPaths.CommonJs)
		@switch (UICulture)
		{
			case TwoLetterISOLanguageName.Russian:
				@Scripts.Render(JsPaths.RuJs)
				break;
			case TwoLetterISOLanguageName.Italian:
				@Scripts.Render(JsPaths.ItJs)
				break;
		}
	</head>
	<body>
		<div id="wrap">
			@Html.Partial("Memu")
			<div class="container">
				<div class="wrap-padding">&nbsp;</div>
				@RenderBody()
			</div>
			@if (!HttpContext.Current.User.Identity.IsAuthenticated)
			{
				<div class="wrap-padding">&nbsp;</div>
			}
		</div>
		@if (!HttpContext.Current.User.Identity.IsAuthenticated)
		{
			<footer>
				<div class="container">
					<p class="muted credit">
						&copy; Alicargo
						@Html.ActionLink(Pages.SignIn, MVC.Authentication.Login())
					</p>
				</div>
			</footer>
		}
		@Html.Partial("DynamicScripts")
		@RenderSection("scripts", false)
	</body>
</html>