@using Alicargo.Core.Resources
@using Alicargo.MvcHelpers.Extensions
@using Resources
@model Alicargo.ViewModels.Calculation.Admin.PaymentModel
<h1>
	@Pages.BalanceDecrease: @ViewBag.Nic,
	@Entities.Balance: @ViewBag.Balance.ToString("N2")
</h1>
@Html.EditPage(Url.Action(MVC.Balance.Decrease((long)ViewBag.ClientId)), Pages.Debiting)
@Html.Action(MVC.Balance.History((long)ViewBag.ClientId))