@using Alicargo.Core.Resources
@using Alicargo.Utilities.Localization
@using Resources
@using Alicargo.DataAccess.Contracts.Contracts.User
@model ClientBalanceHistoryItem[]
@if(Model.Length > 0)
{
	<b>
		@Pages.History
	</b>
		<table class="payment-history grid">
			<thead>
				<tr>
					<td class="timestamp">
						@Entities.Date
					</td>
					<td class="timestamp">
						@Pages.Event
					</td>
					<td class="money">
						@Entities.Sum
					</td>
					<td class="money">
						@Entities.Balance
					</td>
					<td>
						@Entities.Comment
					</td>
				</tr>
			</thead>
			<tbody>
				@foreach(var item in @Model)
				{
					<tr>
						<td>
							@item.Timestamp.Date.ToShortDateString()
						</td>
						<td>
							@item.EventType.ToLocalString()
						</td>
						<td>
							@item.Money.ToString("N2")€
						</td>
						<td>
							@item.Balance.ToString("N2")€
						</td>
						<td>
							@if(item.Comment != null)
							{
								@Html.Raw(item.Comment.Replace(Environment.NewLine, "<br/>"))
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
}