@using Alicargo.Core.Resources
@using Resources
@model Alicargo.Contracts.Contracts.User.ClientBalanceHistoryItem[]
@if (Model.Length > 0)
{
	<b>
		@Pages.History
	</b>
	<table class="payment-history">
		<thead>
			<tr>
				<td class="timestamp">
					@Entities.CreationTimestamp
				</td>
				<td class="timestamp">
					@Entities.Timestamp
				</td>
				<td class="money">
					@Entities.Balance
				</td>
				<td class="money">
					@Entities.Money
				</td>
				<td class="timestamp"></td>
				<td>
					@Entities.Comment
				</td>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in @Model)
			{
				<tr>
					<td>
						@item.CreationTimestamp
					</td>
					<td>
						@item.Timestamp
					</td>
					<td>
						@item.Balance.ToString("N2")
					</td>
					<td>
						@item.Money.ToString("N2")
					</td>
					<td>
						@Alicargo.Contracts.Resources.EventType.ResourceManager.GetString(item.EventType.ToString())
					</td>
					<td>
						@item.Comment
					</td>
				</tr>
			}
		</tbody>
	</table>
}